.showcase{
   display: flex;
   align-items: center;
   justify-content: space-evenly;

  
}


#inside-image{
   height: 60px;
   width: 60px;
}
 
.delete-btn{
     border: none;
     outline: none;
}

